<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" th:href="@{/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/output.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css}"/>
    <title>Dashboard</title>
</head>
<body>
<!--navbar-->
<nav class="w-screen bg-blue-600 h-16 p-5 flex justify-between items-center">
    <img alt="logo" class="max-h-10" th:src="@{/logo.png}">
    <div class="flex justify-around items-center text-white text-xl gap-4">
        <div class="relative inline-block cursor-pointer" id="trigger">
            <i class="fa-solid fa-circle-user"></i>
            <div class="hidden absolute bg-gray-100 py-4 px-2 min-w-44 shadow-2xl text-gray-900 text-base text-center right-0"
                 id="menu">
                <img alt="profile" class="rounded-full object-center mx-auto mb-5"
                     th:src="'data:image/jpg;base64,'+${profile}">
                <!--                todo - to be fix in FIX-IMAGE -->
                <p class="py-1 border-y" th:text="${user.fullName()}"></p>
                <p class="py-1 border-y" th:text="${user.email()}"></p>
            </div>

        </div>
        <a class="text-red-500" th:href="@{/payments/logout}">Logout</a>
    </div>
</nav>

<!--payment details-->

<script th:src="@{/dashboard.js}"></script>
</body>
</html>